.view-track {
  margin: 20px;

  display: flex;
  align-items: center;
  flex-direction: column;

  & > :not(:last-child) {
    margin-bottom: 10px;
  }

  .media-info {
    display: flex;
    justify-content: space-evenly;
  }
}
