.view-track {
  margin: 20px;

  display: flex;
  align-items: center;
  flex-direction: column;

  & > :not(:last-child) {
    margin-bottom: 10px;
  }

  .media-info {
    display: flex;
    justify-content: space-evenly;
    width: 55%;
    flex-wrap: wrap;
  }

  .media-player-wrapper {
    width: calc(100% - 260px);
    min-width: 400px;
  }
}
